body{
    font-family: "Montserrat", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-bold", sans-serif;
    font-weight: 700;
}

p {
    color: #8f8f8f;
}
/* Title Section  */
#title {
    background-color: #FF4C68;
    font-family: "Montserrat-black", sans-serif;
}

.big-heading{
    font-family: "Montserrat-black", sans-serif;
    font-weight: 900;
    color: #ffff;
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid {
    padding: 3% 15%;
    padding-bottom: 130px;
}


.btn-m {
    margin: 6% 4%;
}
/* Navbar Section  */
.navbar {
    padding-right: 4.5rem;
}
/* Shifting nav-items to the right  */
.margin {
    margin-left: auto;
}

.navbar-brand {
    font-size: 1.3rem;
    font-family: "Ubuntu", sans-serif;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
    font-family: "Montserrat-light";
    font-weight: 300;
}

.phone-img {
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    padding: 2%;
    right: 22%;
}
/* Media query to make the phone-img responsive for smaller viewports  */
@media (max-width:992px){
    .phone-img{
        width: 60%;
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}
/* Features Section  */
#features {
    padding: 7% 15%;
    background-color: #ffff;
    position: relative;
    z-index: 1;
}
.feature-text{
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1;
    padding-top: 7%;
}
.feature-box {
    text-align: center;
    margin: 4%;
}
/* Giving icons a different color for each state */
.icon {
    color: #ef8172;
}

.icon:hover {
    color: #FF4C68;
}
/* Testimonial Section  */
#testimonials{
    text-align: center;
    background-color: #ef8172;
}
.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}
.testimonial-text{
    font-family: "Montserrt-bold", sans-serif;
    font-weight: 700;
    color: #ffff;
    font-size: 3rem;
}
.carousel-item{
    padding: 7% 15%;
}
/* Press Section  */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    padding: 20px 20px 50px;
}
/* Pricing Section  */
#pricing{
    margin: 40px;
    text-align: center;
}
.pricing-cards{
    margin: 4%;
}
.pricing-header{
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1;
    padding-top: 7%;
}
.pricing-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 3rem;
}
/* Call to action section  */
#cta{
    background-color: #FF4C68;
    text-align: center;
    padding: 4% 10%;
}
/* Footer Section  */
#footer{
    text-align: center;
    padding: 7% 15%;
}
.f-ico{
    padding-left: 1.5% ;
}
#footer p{
    font-family: "Ubuntu", sans-serif;
    font-weight: light;
    font-size: 1rem;
    padding: 4% 4% 0;
}